
{################# PUBLIC STATIC FILES ################}


{% block public_css %}{% endblock %}

{% block public_js %}
    <script type="text/javascript">
        // add console.log to avoid errors in retarded browsers.
        if (typeof console === "undefined" || typeof console.log === "undefined") {
             console = {};
             console.log = function() {};
        }
    </script>
{% endblock %}

{################# PRIVATE STATIC FILES ################}

{% if user.is_authenticated and not django_admin%}
    {% block private_css %}{% endblock %}

    {% block private_js %}{% endblock %}
{% endif %}


{################# ADMIN STATIC FILES ################}


{% if django_admin %}
    {% block admin_css %}{% endblock %}

    {% block admin_js %}{% endblock %}
{% endif %}

{% block extra %} {% endblock %}


